@import '~bootstrap/scss/bootstrap';

body {
  background-color: #0a6a56;
  font-family: garmond;
  text-align: center;
}
//.container {
//border-radius: 25px;
//  padding: 15px;
//  width: 300px;
//  height: 300px;
//background: #A47D0E;

//}

.start {
  border-radius: 25px;
    padding: 15px;

    background: #A47D0E;

}


h1 {
  color: #953553;
  font-weight: bold;
  font-size: 60px;

}



h2 {
  font-size: 22px;
  font-style: italic;
}
h3{
  color: #953553;
}

header {
  position:center;
      top: 20px;
      right: 10px;
      border-radius: 25px
    }

    #game-board {
    background-color: #0a6a56;
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
    width: 300px;
    height: 300px;
    }

    .game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
    }

    .cell {
    height: 150px;
    width: 150px;
    background: #A47D0E;
    }

      .cell:hover {
            background: #953553;
            border: 1px solid black;
            border-radius: 4px;
        }
